.project-list {
    overflow: auto;
    list-style: none;
    margin: 1rem auto;
    width: 92%;
    padding-bottom: 20px;
}
  
.project-list li {
    float:left;
    width:31%;
    margin: 8px;
}

.project-list__title {
    display: inline-block;
    padding-left: 0%;
}

.project-btn {
    float: right;
    background-color: #1e8f73;
    border: none;
    border-radius: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    width: 200px;
    padding: 10px;
    margin: 20px 50px;
}

@media (max-width: 768px) {  
    .project-list li {
        width: 28%;
    }

    .project-list__title {
        display: inline-block;
        font-size: 20px;
        padding-left: 0;
    }
    
    .project-btn {
        width: 100px;
        padding: 7px;
        margin: 10px 50px;
    }
}
  
@media (max-width: 425px) {
    .project-list li {
        width: 40%;
    }

    .project-list__title {
        padding: 0;
    }
}