.skill-list {
    list-style: none;
    overflow: auto;
    margin: auto;
    width: 92%;
    padding-bottom: 20px;
  }
  
.skill-list li {
    float:left;
    width:23%;
    margin: 8px;
}

.skill-list__title {
    display: inline-block;
    padding-left: 0;
}

.skill-btn {
    float: right;
    background-color: #1e8f73;
    border: none;
    border-radius: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    width: 200px;
    padding: 10px;
    margin: 20px 50px;
}

@media (max-width: 768px) {
    .skill-list li {
        width:20%;
    }

    .skill-list__title {
        font-size: 20px;
        padding-left: 0;
    }
    
    .skill-btn {
        width: 100px;
        padding: 7px;
        margin: 10px 50px;
    }
}
    
@media (max-width: 425px) {
    .skill-list li {
        width:38%;
    }
    
    .skill-list__title {
        padding: 0;
    }
}