.card {
    position: relative;
    margin: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    /* padding: 1rem; */
    overflow: hidden;
    background: white;
  }

.card-small {
  height: 80px;
}

.card-medium {
  height: 120px;
}

/* .card-big {
  height: 380px;
} */

@media (max-width: 768px) {
  .card-small {
    height: 50px;
  }
  
  /* .card-medium {
    height: 120px;
  } */
/*   
  .card-big {
    height: 260px;
  } */
}