.banner-contain {
    width: 50%;
    object-fit: contain;
    overflow: hidden;
    float: left;
}

.banner-profile{
    width: 45%;
    max-width: 600px;
}

.banner-profile div {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 0;
    padding-bottom: 100%;
}

.banner-info {
    text-align: left;
    margin-top: 10%;
}

.banner-info div {
  padding-left: 28%;
  width: auto;
}

.banner-info h1,
.banner-info h3,
.banner-info p{
    margin: 0;
    padding: 0;
}

.banner-info  h3{
  font-size: 30px;
  font-weight: lighter;
}

.banner-info  h1{
  font-size: 35px;
  font-weight: bolder;
}

.banner-info  p{
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 20px;
}

.profile-img {
    width: 152%;
    margin-left: -50px;
}

.banner-contain ul {
    margin: 0;
    padding: 0;
}

.banner-contain ul li {
    display:inline-block;
}

.fa {
    padding: 8px;
    font-size: 18px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    margin: 8px;
  }
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}

@media (max-width: 768px) {
    .banner-info {
        margin-top: 5%;
    }

    .banner-info  h3{
        font-size: 20px;
        font-weight: lighter;
      }
      
    .banner-info  h1{
        font-size: 26px;
        font-weight: bolder;
    }
    
    .banner-info  p{
        font-size: 15px;
        font-weight: lighter;
        padding-bottom: 20px;
    }
    

    .fa {
        padding: 5px;
        font-size: 10px;
        width: 15px;
        text-align: center;
        text-decoration: none;
        border-radius: 20%;
        margin: 8px;
    }
}
    
@media (max-width: 425px) {
    .banner-contain {
        color: white;
        width: 100%;
    }

    .banner-profile {
        position: relative;
        background-color: black;
        border-radius: 50%;
    }

    .banner-profile div {
        overflow: hidden;
        border-radius: 50%;
        opacity: 0.8;
        height: 0;
        padding-bottom: 100%;
    }

    .banner-info {
        position: absolute;
        text-align: center;
        right: 15%;
        top: 20%;
        opacity: 0.8;
    }

    .banner-info  h3{
        font-size: 20px;
        font-weight: lighter;
      }
      
    .banner-info  h1{
        font-size: 26px;
        font-weight: bolder;
    }
    
    .banner-info  p{
        font-size: 15px;
        font-weight: lighter;
        padding-bottom: 20px;
    }

    .fa {
        padding: 5px;
        font-size: 10px;
        width: 15px;
        text-align: center;
        text-decoration: none;
        border-radius: 20%;
        margin: 8px;
    }
}

@media (max-width: 1024px) {
    .banner-info {
        margin-top: 4%;
    }
}